@import "../../../styles/abstracts/variables";

.stats-card {
  display: flex;
  width: 365px;
  min-width: 320px;
  height: 120px;
  margin-right: $margin-separator * 1.5;
  border-radius: 0.35rem;
  overflow: hidden;

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 2.5rem;
    max-width: 110px;
  }

  &__text {
    flex: 1;
    padding: 1rem 0 1rem 1.5rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__count {
    font-size: 50px;
    line-height: 3rem;
  }

  &__type {
    font-size: 1.25rem;
  }
}
