@import "../../../styles/abstracts/variables";
@import "../../../styles/base/typography";

#table {
  font-size: 12px;
  width: 100%;
  border-spacing: 0;
  color: $color-grey-darker;
  margin-bottom: $margin-separator;

  td {
    padding: 7px;
    border-bottom: 1px solid #ddd;
  }

  tr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  thead {
    border-top: 1px solid #ddd;
    font-size: 1rem;
    font-weight: $font-weight-bolder;
  }
}
