@import "../../../../styles/abstracts/variables";

.log-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;

  .stats-card {
    width: 100%;
    flex-direction: row;
    height: unset;

    &__icon {
      font-size: 2.5rem;
      padding: 1rem 2rem;
    }

    &__text {
      flex-direction: column;
      justify-content: unset;
      padding-left: 1.5rem;
    }
  }

  @media (min-width: $display-mobile) and (max-width: $display-laptop-desktop) {
    flex-direction: row;
    justify-content: unset;
    height: unset;

    .stats-card {
      width: 50%;
      flex-direction: column;
      height: 8.5rem;
      min-width: 250px;

      &__icon {
        font-size: 1.5rem;
        padding: 0.5rem;
      }

      &__text {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding-left: 0px;
      }
    }
  }

  @media (min-width: $display-laptop-desktop) {
    flex-direction: row;
    justify-content: unset;
    height: unset;

    .stats-card {
      width: 70%;
    }
  }
}
